DATABASE_URL="postgresql://user:password@localhost:5432/portal_eventos?schema=public"
JWT_SECRET="genera-un-string-aleatorio-seguro-de-32-bytes"
CLIENT_URL="http://localhost:5173"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="tu-email@gmail.com"
SMTP_PASS="tu-app-password-de-gmail"

CLOUDINARY_CLOUD_NAME="tu-cloud-name"
CLOUDINARY_API_KEY="tu-api-key"
CLOUDINARY_API_SECRET="tu-api-secret"
